	<p><h4>Количество услуг: <%= @user.services.count %></h4></p>
	<% if @user.services.any? %>
	<% @user.services.each do |service| %>
			<div class="well">
				
					<h4><%= service.content %></h4>
  					<p> Добавил <%= service.user.name %> <%= service.user.last_name %> ( <%= service.user.company_name %> )</p>
  				
  			</div>  	
  	<% end %>
  	<% end %>