<% @favorites.each do | favorite | %>
	  <div class="panel panel-white post panel-shadow">
  			   <div class="post-heading">
                    <div class="pull-left image">
                        <%= image_tag favorite.user.image.url, width:"70", height:"70" %>
                    </div>
                    <div class="pull-left meta">
                        <a href="#"><b><%= link_to favorite.user.company_name, favorite.user %></b></a>
                            добавила предложение
                        <h6 class="text-muted time"><%= favorite.created_at %></h6>
                    </div>
                    <%= link_to "Подробнее", favorite , remote: true,  data: { toggle: "modal", target: "#showModal" }, class:"btn btn-default btn-content"  %> 
                </div> 
                <div class="post-description"> 
                    <%= favorite.content %>
                </div>
		</div>
	
<% end %>
<%= will_paginate @favorites %>