<div class="home">
	<%= render 'layouts/greeting' %><br>
  
	       <div class="row">
                <div class="col-md-8 col-md-offset-2">
                      <%= form_tag services_path, :method => 'get' do %>
                          <%= text_field_tag :query, params[:query], class:"form-control", placeholder: "Введите предложение", id:"search" %>
                </div>
        </div><br>
        <div class="row">
              <div class="col-md-2 col-md-offset-5">
                          <%= submit_tag "Найти предложение", name: nil, class: "btn btn-default btn-lg" %>
                     <% end %>
              </div>
        </div>  
</div>
<div class="row">
    <%= render 'layouts/search_by_category' %>
</div>
<%= render 'layouts/tutorial' %>



<div class="navbar navbar-default navbar-bottom" style="background-color:#3c3e50; height: 100px; position: absolute; width: 100%; ">
    <div class="container">
      <p class="navbar-text pull-left" style="color:#ffffff">© 2016 - BarterCo Company</p>
    </div>
</div>

