<div class="panel panel-white post panel-shadow">
	<div class="post-heading">
         <div class="pull-left image">
         	<%= image_tag comment.user.image.url, height:"50", width:"50" %>
         </div>
         <div class="pull-left meta">
         	<b><%= link_to comment.user.company_name %></b>
                            добавила отзыв
            <h6 class="text-muted time"><%= comment.created_at %></h6>
         </div>
         <% if can? :destroy, comment %>
               <%= link_to "Удалить", [comment.service, comment], method: :delete, :remote => true,  data: { confirm: "Вы уверены?" }, class:"btn btn-danger btn-content" %>
         <% end %>
    </div> 
    <div class="post-description">
    		<h4><%= comment.comment %></h4>
    </div>
</div>

