<div class="row">
	<div class="col-md-4 col-md-offset-1">
		
		<h4><%= image_tag @user.image.url(:medium) %></h4>
		<h1><%= @user.company_name %></h1>
		<p>Зарегистрирован <%= @user.confirmed_at %></p>
		<p>Вид деятельности <%= @user.category.name %></p>
		<p>Номер телефона <%= @user.phone_number %></p>
		<p> Местоположение <%= @user.city %></p>

		<p>
			<div class="followers_followable_count">
				<a href="<%= follow_user_path  %>">Подписки <span class="badge"><%= @user.follow_count %></span></a> 	
			    <a href="<%= followers_user_path %>">Подписчики <span class="badge"><%= @user.followers_count %></span></a>	
			</div>
		</p>
		
		
		<% if user_signed_in? %>
  			<div id="follow_user">
    			<%= render :partial => "/shared/follow_user", :locals => {:user => @user} %>
  			</div>

		<% end %>
		
	</div>
	<div class="col-md-6">
		<ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#panel1">Услуги</a></li>
                    <li><a data-toggle="tab" href="#panel2">Новости</a></li>
                    <% unless @user == current_user %>
                    	<li><%= link_to "Начать бартерную торговлю", new_user_order_path(@user, @order) , remote: true, class: "order-button ", data: { toggle: "modal", target: "#emailModal" } %></li>
                    <% end %>
                    <% if can? :create, @user %>
					    <li> <%= link_to "Добавить предложение", new_service_path, remote: true, class: "order-button ", data: { toggle: "modal", target: "#newModal" } %></li>
					<% end %>
         </ul>
         <div class="tab-content">
              <div id="panel1" class="tab-pane fade in active">
					<%= render 'services/content' %>
              </div>
              <div id="panel2" class="tab-pane fade">
                  <%= render 'following_services' %>						
			  </div>
		 </div>
	</div>
</div>

<div class="modal fade" id="newModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="emailModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>



	