<div class="row">
  	<div class="col-md-4 col-md-offset-1">
      		<h4><%= image_tag @user.image.url(:medium) %></h4>
      		<h1><%= @user.company_name %></h1>
      		<p><b>Зарегистрирован:</b> <%= @user.confirmed_at %></p>
      		<p><b>Телефон:</b> <%= @user.phone_number %></p>
      		<p>
              <b>Адреса:</b>
              <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Открыть</a>
              <% if can? :create, @user %> 
                  <%= link_to "Добавить", new_location_path %>
              <% end %>
          </p>
          <div class="collapse" id="collapseExample">
              <div class="well">
                  <% if @locations.empty? %>
                      <p>Нет добавленных адресов</p>
                  <% else %>
                      <% @locations.each do | location |  %>
                          <p><%= location.address %></p> 
                      <% end %>
                  <% end %> 
              </div>
          </div>
          <p><b>О компании</b> <%=  @user.description %></p>
          <p>
      			<div class="followers_followable_count">
      				<a href="<%= follow_user_path  %>"><b>Подписки</b> <span class="badge"><%= @user.follow_count %></span></a> 	
      			  <a href="<%= followers_user_path %>"><b>Подписчики</b> <span class="badge"><%= @user.followers_count %></span></a>	
      			</div>
      		</p>
           <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
<div class="pluso" data-background="#ebebeb" data-options="big,square,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter,google,moimir,print"></div>
          <% if user_signed_in? %>
                <div id="follow_user">
                    <%= render :partial => "/shared/follow_user", :locals => {:user => @user} %>
                </div><br>
                <% if can? :create, @user %> 
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Непрочитанные сообщения <span class="badge">+<%= @recipient_count %></span>
                                  </a>
                            </h4>
                         </div>
                         <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">
                                  <%= render 'orders/recipient_orders_off' %> 
                              </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Непросмотренные предложения подписчиков <span class="badge">+<%= unread_services_count %></span>
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <%= render 'services/content_off' %> 
                                </div>
                          </div>
                    </div>
                </div>
                <% end %>
                
                
          <% end %>

     </div>
	   <div class="col-md-6">
            <div class="row">
                <div class="col-md-10">
                      <%= form_tag services_path, :method => 'get' do %>
                          <%= text_field_tag :query, params[:query], class:"form-control", placeholder: 'Найти предложение', id:"search" %>
                </div>
                <div class="col-md-2">
                          <%= submit_tag "Найти", class: "search-button" %>
                     <% end %>
                </div>
            </div>
           
          <br>
            
            
          
        
            
        
        
          
	       <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#panel1">Предложения <span class="badge"><%= user_services_count %></span></a></rli>
                    <li><a data-toggle="tab" href="#panel2">Новости <span class="badge"><%= all_following_services_count %></span></a></li>
                    <% if can? :create, @user %>
                          <li><a data-toggle="tab" href="#panel3">Избранные <span class="badge"><%= favorite_services_count %></span></a></li>
                          <li><a data-toggle="tab" href="#panel4">Мои запросы <span class="badge"><%= order_count %></span></a></li>
                          <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria     -haspopup="true" aria-expanded="false">
                                     <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 
                                </button>
                          
                          <ul class="dropdown-menu">
                              <li> <%= link_to "Доб.предложение", new_service_path, remote: true, data: { toggle: "modal", target: "#newModal" } %></li>
                          </ul>
                          </div>
					          <% end %>
         </ul>
         <div class="tab-content">
              <div id="panel1" class="tab-pane fade in active">
					         <%= render 'services/content' %>
              </div>
              <div id="panel2" class="tab-pane fade">
                    <%= render 'following_services' %>						
			        </div>
              <div id="panel3" class="tab-pane fade">
                    <%= render 'services/favorite_services' %>            
              </div>
              <div  id="panel4" class="tab-pane fade">
                   <ul class="nav nav-tabs">
                   		<li><a data-toggle="tab" href="#panel5">Входящие запросы <span class="badge"><%= recipient_usered_orders %></span></a></li>
                   		<li><a data-toggle="tab" href="#panel6">Исходящие запросы <span class="badge"><%= sender_usered_orders %></span></a></li><br>
                   </ul>  
						       <div class="tab-content">
  							       <div id="panel5" class="tab-pane fade">
                      		  <%= render 'orders/recipient_orders' %>						
  			        	     </div>
                	     <div id="panel6" class="tab-pane fade">
                      			<%=  render 'orders/sender_orders' %>            
                	     </div>
						       </div>
					     </div>
		      </div>
	 </div>
</div>

<div class="modal fade" id="newModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="showOrderModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>





	