<div class="row">
    
    <div class="col-md-10 col-md-offset-1 content">
    	<%= form_for [current_user, current_user.sender_usered_orders.build], :html=>{ :multipart => true } do |f| %>
			<%= render 'layouts/error_messages', object: f.object %>
			<%= f.text_area :description, autofocus: true,  cols: "30", rows: "10", class:"form-control" %>
			 
			 <div class="row">
				 <div class="col-md-6 col-md-offset-2">
						<%= f.submit "Отправить", class: "button service-button", id:"modal" %>
		    			<%= link_to "Отмена", :back , class:"button service-button-close",id:"modal" %>
		    	 </div>
	    	 </div>
        <% end %>
    </div>
</div>










