<div class="service-form">
	<h3>Отправить запрос</h3>
	<%= form_for [current_user, current_user.sender_usered_orders.build], :html=>{ :multipart => true } do |f| %>
		<%= render 'layouts/error_messages', object: f.object %>
		<%= f.text_area :description, autofocus: true,  cols: "30", rows: "10", class:"form-control" %>
		<%= f.submit "Отправить", class: "button service-button" %>
    	<%= link_to "Отмена", current_user, class:"button service-button-close" %>
    <% end %>
</div>











