<div class="row">
		<div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                 
             
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row">
	                	<% Category.take(4).each do |category| %>
	                	  	<div class="col-md-3">
	                	  		<%= link_to category.name, users_path(category: category.name), class:"thumbnail title_in_item" %>
							</div>
						<% end %>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                		<% Category.all[5..8].each do |category| %>
	                	  	<div class="col-md-3">
	                	  		<%= link_to category.name, users_path(category: category.name), class:"thumbnail title_in_item" %>
							</div>
						<% end %>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                		<% Category.all[9..12].each do |category| %>
	                	  	<div class="col-md-3">
	                	  		<%= link_to category.name, users_path(category: category.name), class:"thumbnail title_in_item" %>
							</div>
						<% end %>
                	</div><!--.row-->
                </div><!--.item-->

                 <div class="item">
                	<div class="row">
                		<% Category.all[13..16].each do |category| %>
	                	  	<div class="col-md-3">
	                	  		<%= link_to category.name, users_path(category: category.name), class:"thumbnail title_in_item" %>
							</div>
						<% end %>
                	</div><!--.row-->
                </div>

                <div class="item">
                	<div class="row">
                		<% Category.all[17..20].each do |category| %>
	                	  	<div class="col-md-3">
	                	  		<%= link_to category.name, users_path(category: category.name), class:"thumbnail title_in_item" %>
							</div>
						<% end %>
                	</div><!--.row-->
                </div>
                 
                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->
                 
		</div>
	</div>
<!--.container-->